* {
    margin: 0;
    padding: 0;
}

/* Igualdad en unidades de medida 1rem = 10px */
html {
    font-size: 62.5%;
}

.titulo {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    font-style: italic;
    margin-top: 20px;
}